* {
  font-family: Georgia;
}
section {
  background-color: rgb(197, 85, 160);
  text-align: center;
  width: 50%;
  height: 180px;
}
header,
footer {
  background-color: rgb(246, 226, 222);
  text-align: center;
  height: 100px;
  padding: 10px;
  clear: both;
}
aside,
main {
  background-color: rgb(197, 85, 160);
  color: white;
  width: 50%;
  height: 400px;
}
#zamow {
  background-image: url(cukierki1.png);
  padding-right: 70px;
  padding-bottom: 120px;
  font-size: 150%;
  text-decoration: none;
}
table,
th,
td {
  border: 2px solid blue;
  margin: 20px;
  padding: 10px;
}
h2 {
  letter-spacing: 10px;
  font-size: 200%;
}
aside {
  float: left;
}
main {
  float: right;
}
#lewy {
  float: left;
}
#prawy {
  float: right;
}
